<h1>Welcome to the Tracker App</h1>

<div class="container">
  <a href="/projects"  class="btn btn-primary">View All Projects</a><br><br>
  <a href="/projects/new"  class="btn btn-primary">Add New Project</a><br><br>
  <a href="/volunteers"  class="btn btn-primary">View All Volunteers</a>
</div>
