<div class="container">
  <div class="jumbotron">
    <h1>Volunteers Tracker</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @projects == [] %>
      <p>There are currently no projects in the database</p>
      <% else %>
      <p>Projects</p>
      <ol>
        <% @projects.each do |project| %>
        <li><a href="/project/<%= project.id %>"><%= project.name %></a></li>
        <% end %>
      </ol>
      <% end %>
    </div>

    <div class="col-md-6">
      <% if @volunteers == [] %>
      <p>There are currently no volunteers in the database</p>
      <% else %>
      <p>Volunteers</p>
      <ol>
        <% @volunteers.each do |volunteer| %>
        <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
        <% end %>
      </ol>
      <% end %>

    </div>

  </div>

</div>
