<h1>Add a Project</h1>

<form action="/new_project" method="post">
  <label>Name of Project:</label>
  <input type="text" name="project_name" required>
  <button type="submit">Submit</button>
</form>
