<h3>Create New Project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for="name">Project name:</label>
    <input class="form-control" id="project-name" type="text" name="name"><br>

    <button type="submit" class="btn btn-success">Add Project</button>
  </div>
</form>

<a href="/"  class="btn btn-primary">Home</a><br><br><br>
