<h1><%= @project.name() %></h1>

<form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

  <label for="name">Volunteer name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn">Add volunteer</button>
</form>

<% if @project.volunteers().any?() %>
  <h3>Here are the volunteers:</h3>
  <ul>
    <% @project.volunteers().each do |volunteer| %>
      <li><%= volunteer.name() %></li>
    <% end %>
  </ul>
  <% else %>
    <p>There are no volunteers signed up for this project yet!</p>
  <% end %>

<p><a href="/projects/<%= @project.id() %>/edit" class="btn btn-primary">Edit Project</a></p>


<a href="/projects" class="btn btn-primary">View All Projects</a><br><br>
<a href="/"  class="btn btn-primary">Home</a><br><br><br>
