<form action="/projects" method="post">
  <div class="form-group">
    <label for="name">Enter a name for the project:</label><br>
    <input name="name" type="text" required>
  </div>
  <button type="submit" class="btn btn-primary">Add Project</button>
  <a href="/" class="btn btn-info">Back</a>
</form>
