<h1>Current Volunteers</h1>

<% if @volunteers.any?() %>
  <h3>These are the volunteers:</h3>

  <ul>
    <% @volunteers.each() do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id()%>"><%= volunteer.name() %><%=" - "%><%= volunteer.project() %></a> </li>
    <% end %>
  </ul>


<% else %>

    <p>There are no volunteers yet!</p>

<% end %>

<a href="/" class="btn btn-info">Back</a>
