<h1>Add a Volunteer</h1>

<form action="/new_volunteer" method="post">
  <label>Name of Volunteer:</label>
  <input type="text" name="volunteer_name" required>
  <button type="submit">Submit</button>
</form>
