<h1>All Volunteers</h1>

<% if @volunteers == [] %>
<p>There are currently no volunteers in the database</p>
<p><a href="/volunteer_form">Click to create a new volunteer</a></p>
<% else %>
<ol>
  <% @volunteers.each do |volunteer| %>
  <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
  <% end %>
</ol>
<% end %>
