<h1><%= @volunteer.name() %></h1>


<p><a href="/volunteers/<%= @volunteer.id() %>/edit">Edit Volunteer</a></p>


<a href="/volunteers">View All Volunteers</a><br>
<a href="/"  class="btn btn-primary">Home</a><br><br><br>
