<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="name">Enter a name for the volunteer:</label><br>
    <input name="name" type="text" required>
  </div>
  <div class="form-group">
    <label for="volunteer_name">Enter a project for the volunteer:</label><br>
    <input name="volunteer_name" type="text" required>
  </div>
  <button type="submit" class="btn btn-primary">Add Volunteer</button>
  <a href="/" class="btn btn-info">Back</a>
</form>
